export MENTIONS_MAPPING_FILE_PATH=https://gist.githubusercontent.com/ppworks/a7718ce4b315cc3dcdfd/raw/d7d534b200c2c27d8bd5d4e8db219820b5167968/mention_mappings.yml
SLACK_WEBHOOK_URL=https://xxxx.slack.com/services/hooks/slackbot?token=yyyyyyyyyyyyyy
